@font-face {
    font-family: "Roboto-regular";
    src: url('./Roboto-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('./Roboto-Medium.ttf') format('ttf');
}
@font-face {
    font-family: "Roboto-light";
    src: url("./Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto-cb";
    src: url('./RobotoCondensed-Bold.ttf') format('ttf');
}
@font-face {
    font-family: "Playfair Display", serif;
    src: url('./PlayfairDisplay-Black.otf') format('otf');
}
@font-face {
    font-family: "s";
    src: url("../fonts2/Sixtyfour-Regular.ttf");
}