* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.parent {
    background-color: blanchedalmond;
    padding: 50px;

    margin: 0 auto;
    width: 80%; /* use in px then its not respnsive and media query increase LOC */
}

.child {
    background-color: blueviolet;
    height: 250px; /*avoid to use height but don't have content so use*/
}